@import "tailwindcss";

:root {
  --color-primary: #f35d36;
  --color-secondary: #212c4a;
  --color-tertiary: #474799;
  --color-quaternary: #00bcd4;
  --color-quinary: #8bc34a;
  --color-text-paragraph: #6a738e; 
  --color-text-heading: #212c4a;
  --color-banner-bg: #fef7f5;

  /* Default Text/Background Colors */
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Roboto', sans-serif; 
  overflow-y: scroll;
}
.container {
  @apply mx-auto max-w-[1400px];
}
.app-paragraph {
    font-size: 20px;
    color: var(--color-text-paragraph);
    line-height: 1.5;
}
.btn-primary-custom {
  background-color: var(--color-primary) !important; 
  transition: background-color 300ms ease;
}

.btn-primary-custom:hover {
  background-color: var(--color-secondary) !important;
}
@keyframes timeline-pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}