@import "tailwindcss";

:root {
  --color-primary: #f35d36;
  --color-secondary: #212c4a;

  /* Default Text/Background Colors */
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Roboto', sans-serif; 
}
.container {
  @apply mx-auto max-w-[1400px];
}
.btn-primary-custom {
  background-color: var(--color-primary) !important; 
  transition: background-color 300ms ease;
}

.btn-primary-custom:hover {
  background-color: var(--color-secondary) !important;
}